form.register {
    max-width: 400px;
    margin: 0 auto;
}

form.register h1 {
    text-align: center;
}

form.register input[type="text"],
form.register input[type="password"] {
    display: block;
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
}

form.register button {
    width: 100%;
    display: block;
    background-color: #4CAF50;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

form.register button:hover {
    background-color: #3e8e41;
}

form.register input[type="text"]:focus,
form.register input[type="password"]:focus {
    background-color: #ddd;
    outline: none;
}

@media only screen and (max-width: 500px) {
    form.register {
        max-width: 100%;
    }
}
